/* 1. Create account button color: #596D48 */
/* 2. Dark, semi-transparent div behind Odin logo */
/* 3. Inputs have a very light border: #E5E7EB  */
/* 4. Password inputs should be given .error class */
/* 5. Selected input should be styled with :focus class; use blue border and box shadow */

@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.page {
    display: flex;
    flex-direction: row;
}

.column.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/andre-amaral-xavier-tABAti6Qko4-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
}

.logo {
    font-family: Norse-Bold;
    background-color: rgba(0, 0, 0, 0.385);
    color: white;
    width: 100%;
    margin-top: 35%;
    font-size: 150px;
}

.footer {
    margin-top: auto;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

.column.right {
    display: flex;
    flex-direction: column;
}