/* 1. Create account button color: #596D48 */
/* 2. Dark, semi-transparent div behind Odin logo */
/* 3. Inputs have a very light border: #E5E7EB  */
/* 4. Password inputs should be given .error class */
/* 5. Selected input should be styled with :focus class; use blue border and box shadow */

:root {
    --gray-bg-color: rgb(244, 244, 244);
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.footer > a {
    color: white;
}

.page {
    display: flex;
    flex-direction: row;
    background-color: var(--gray-bg-color);
}

.column.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/andre-amaral-xavier-tABAti6Qko4-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30%;
    font-family: Norse-Bold;
    background-color: rgba(0, 0, 0, 0.385);
    color: white;
}

.logo > span {
    font-size: 10vw;
}

.logo > img {
    width: 20%;
    padding: 2%;
}

.footer {
    margin-top: auto;
    margin-bottom: 3%;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.column.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
}

.hero {
    font-weight: bolder;
    font-size: calc(16px + 1vw);
    padding-top: 5%;
}

.hero > p {
    margin: 2% 5%;
}

.mid {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
}

.mid > h1 {
    font-size: calc(16px + 1vw);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-bottom: 5vh;
}

.inputWrapper * {
    font-size: calc(12px + .2vw);
}

.inputWrapper > input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    padding-left: 10px;
}

.inputWrapper > input:focus {
    border: 2px solid rgba(52, 105, 174, 0.586);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    outline: none;
}

.submission {
    margin: 5% 5%;
}

.submission > .login > a {
    color: #596D48;
    text-decoration: none;
}

.submission > input {
    margin-bottom: 3%;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
}

.submission > input:hover {
    background-color: #6c8456;
    cursor: pointer;
}

.submission > input:active {
    background-color: #758f5e;
}

input:invalid {
    border: 2px solid rgba(255, 0, 0, 0.5);
}

input:invalid:focus {
    border: 2px solid rgba(255, 0, 0, 0.5);
}